services:
  borgmatic:
    # Pinning to a specific major version is not possible
    # @see https://github.com/borgmatic-collective/docker-borgmatic/pkgs/container/borgmatic
    image: ghcr.io/borgmatic-collective/borgmatic:latest
    container_name: borgmatic
    environment:
      - BORG_PASSPHRASE={{ borgmatic_borg_passphrase }}
    volumes:
      - /mnt/storage:/mnt/storage:ro # source storage
      - /boot:/boot:ro # source boot
      - /mnt/storage/borg-repository:/mnt/borg-repository # backup target (unused)
      - /mnt/storage/containers/borgmatic/config:/etc/borgmatic.d # borgmatic config file(s) + crontab.txt
      - /mnt/storage/containers/borgmatic/state:/root/.borgmatic # borgmatic state files
      - /mnt/storage/containers/borgmatic/keys:/root/.config/borg # config and keyfiles
      - /mnt/storage/containers/borgmatic/ssh-keys:/root/.ssh # ssh key for remote repositories
      - /mnt/storage/containers/borgmatic/cache:/root/.cache/borg # checksums used for deduplication
    restart: unless-stopped
    networks:
      - net-gitea # gitea-db
      - net-nextcloud # nextcloud-db
      - net-speedtest-tracker # speedtest-tracker-db
      - net-traccar # traccar-db

    devices:
      - /dev/fuse
    cap_add:
      - SYS_ADMIN

networks:
  net-gitea:
    name: gitea
    external: true

  net-nextcloud:
    name: nextcloud
    external: true

  net-speedtest-tracker:
    name: speedtest-tracker
    external: true

  net-traccar:
    name: traccar
    external: true
