version: "3.8"
services:
  borgmatic:
    image: ghcr.io/borgmatic-collective/borgmatic
    container_name: borgmatic
    environment:
      - BORG_PASSPHRASE={{ borgmatic_borg_passphrase }}
    volumes:
      - /mnt/user:/mnt/user:ro # source user
      - /boot:/boot:ro # source boot
      - /mnt/user/storage/borg-repository:/mnt/borg-repository # backup target (unused)
      - /mnt/user/storage/containers/borgmatic/config:/etc/borgmatic.d # borgmatic config file(s) + crontab.txt
      - /mnt/user/storage/containers/borgmatic/state:/root/.borgmatic # borgmatic state files
      - /mnt/user/storage/containers/borgmatic/keys:/root/.config/borg # config and keyfiles
      - /mnt/user/storage/containers/borgmatic/ssh-keys:/root/.ssh # ssh key for remote repositories
      - /mnt/user/storage/containers/borgmatic/cache:/root/.cache/borg # checksums used for deduplication
    # TODO: uncomment when nextcloud has been readded
    # networks:
    #   - net-nextcloud # nextcloud-db
    devices:
      - /dev/fuse
    cap_add:
      - SYS_ADMIN

# TODO: uncomment when nextcloud has been readded
# networks:
#   net-nextcloud:
#     name: nextcloud
#     external: true
