services:
  actual-server:
    # Pinning to a specific major version is not possible
    # @see https://actualbudget.org/docs/install/docker/
    image: docker.io/actualbudget/actual-server:latest
    container_name: actual-server
    ports:
      - '8087:5006'
    environment:
      - ACTUAL_NORDIGEN_SECRET_ID={{ vars["actual-server_actual_nordigen_secret_id"] }}
      - ACTUAL_NORDIGEN_SECRET_KEY={{ vars["actual-server_actual_nordigen_secret_key"] }}
    volumes:
      - /mnt/storage/containers/actual-server/data:/data
    restart: unless-stopped
    networks:
      - net-actual-server
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.actual-server.rule=Host(`actual.{{ docker_l_hostname }}`)"
      - "traefik.http.routers.actual-server.entrypoints=websecure"
      - "traefik.http.routers.actual-server.tls.certresolver=myresolver"

networks:
  net-actual-server:
    name: actual-server
