services:
  traefik:
    image: traefik:v3.0
    container_name: "traefik"
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # redirect to https
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      # Let's Encrypt
      - "--certificatesresolvers.myresolver.acme.dnschallenge=true"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.myresolver.acme.email=ssl@julweb.dev"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    environment:
      - "CF_DNS_API_TOKEN={{ traefik_cf_dns_api_token }}"
    networks:
      - net-dockge
      - net-jellyfin
      - net-hemmelig
      # - net-hoppscotch
      - net-silverbullet
      ## - net-immich
      - net-monitoring
      - net-n8n
      - net-nextcloud
      - net-ntfy
      - net-tvheadend
      - net-wikijs
      - net-freshrss
      - net-actual-server
      - net-komga
      - net-scrutiny
      - net-speedtest-tracker
      - net-stirling-pdf
      - net-syncthing
      - net-uptime-kuma
      - net-linkding
      - net-traccar
      - net-traggo
      - net-dashy
      - net-paperless-ngx
      - net-paperless-ngx-julian
      - net-paperless-ngx-lara
      - net-plane
      - net-gitea
      - net-arr
      - net-yaade
    ports:
      - "80:80"
      - "443:443"
      - "8102:8080"
    volumes:
      - "/mnt/storage/containers/traefik/letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: unless-stopped

networks:
  net-dockge:
    name: dockge
    external: true

  net-jellyfin:
    name: jellyfin
    external: true

  net-hemmelig:
    name: hemmelig
    external: true

  # net-hoppscotch:
  #   name: hoppscotch
  #   external: true

  net-silverbullet:
    name: silverbullet
    external: true

  # net-immich:
  #   name: immich
  #   external: true

  net-monitoring:
    name: monitoring
    external: true

  net-n8n:
    name: n8n
    external: true

  net-nextcloud:
    name: nextcloud
    external: true

  net-ntfy:
    name: ntfy
    external: true

  net-tvheadend:
    name: tvheadend
    external: true

  net-wikijs:
    name: wikijs
    external: true

  net-freshrss:
    name: freshrss
    external: true
  
  net-actual-server:
    name: actual-server
    external: true

  net-komga:
    name: komga
    external: true

  net-scrutiny:
    name: scrutiny
    external: true

  net-speedtest-tracker:
    name: speedtest-tracker
    external: true

  net-stirling-pdf:
    name: stirling-pdf
    external: true

  net-syncthing:
    name: syncthing
    external: true
  
  net-uptime-kuma:
    name: uptime-kuma
    external: true

  net-linkding:
    name: linkding
    external: true

  net-traccar:
    name: traccar
    external: true

  net-traggo:
    name: traggo
    external: true

  net-dashy:
    name: dashy
    external: true

  net-paperless-ngx:
    name: paperless-ngx
    external: true

  net-paperless-ngx-julian:
    name: paperless-ngx-julian
    external: true

  net-paperless-ngx-lara:
    name: paperless-ngx-lara
    external: true

  net-plane:
    name: plane
    external: true

  net-gitea:
    name: gitea
    external: true

  net-arr:
    name: arr
    external: true

  net-yaade:
    name: yaade
    external: true
