services:
  linkding:
    # Pinning to a specific major version is not possible
    # @see https://hub.docker.com/r/sissbruecker/linkding/tags
    image: sissbruecker/linkding:latest
    container_name: linkding
    ports:
        - 9091:9090
    volumes:
        - /mnt/storage/containers/linkding/data:/etc/linkding/data
    restart: unless-stopped
    networks:
      - net-linkding
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.linkding.rule=Host(`linkding.{{ docker_l_hostname }}`)"
      - "traefik.http.routers.linkding.entrypoints=websecure"
      - "traefik.http.routers.linkding.tls.certresolver=myresolver"

networks:
  net-linkding:
    name: linkding