version: "3.8"
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    # user: uid:gid
    volumes:
      - /mnt/storage/containers/jellyfin/config:/config
      - /mnt/storage/containers/jellyfin/cache:/cache
      - /mnt/storage/arr/media:/media:ro
    restart: 'unless-stopped'
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.{{ docker_l_hostname }}
    ports:
      - 8096:8096/tcp
    # devices:
    #   - /dev/dri/renderD128
    #   - /dev/dri/card0
    #   - /dev/dvb
    networks:
      - net-jellyfin
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.{{ docker_l_hostname }}`)"
      - "traefik.http.routers.jellyfin.entrypoints=websecure"
      - "traefik.http.routers.jellyfin.tls.certresolver=myresolver"

networks:
  net-jellyfin:
    name: jellyfin
    external: true
