services:
  nextcloud:
    # Pinning to a specific major version is not possible
    # @see https://quay.io/repository/linuxserver.io/nextcloud?tab=tags
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /mnt/storage/containers/nextcloud/config:/config
      - /mnt/storage/containers/nextcloud/data:/data
    depends_on:
      - nextcloud-db
      - nextcloud-redis
    restart: unless-stopped
    networks:
      - net-nextcloud
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.{{ docker_r_hostname }}`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls.certresolver=myresolver"

  nextcloud-db:
    # Nextcloud doesn't recommend mariadb:11 yet
    # @see https://docs.nextcloud.com/server/latest/admin_manual/installation/system_requirements.html
    image: mariadb:10
    container_name: nextcloud-db
    environment:
      - TCP_PORT_3306=3306
      - MARIADB_ROOT_PASSWORD={{ nextcloud_mariadb_root_password }}
      - MARIADB_DATABASE=nextcloud
      - MARIADB_USER=nextcloud
      - MARIADB_PASSWORD={{ nextcloud_mariadb_password }}
    volumes:
      - /mnt/storage/containers/nextcloud-db/mysql:/var/lib/mysql
    restart: unless-stopped
    networks:
      - net-nextcloud

  nextcloud-redis:
    image: redis:latest
    container_name: nextcloud-redis
    environment:
      - TCP_PORT_6379=6379
    restart: unless-stopped
    networks:
      - net-nextcloud

networks:
  net-nextcloud:
    name: nextcloud
