services:
  hemmelig:
    image: hemmeligapp/hemmelig:v5.19.4 # https://github.com/HemmeligOrg/Hemmelig.app/tags
    hostname: hemmelig
    init: true
    volumes:
      - /mnt/storage/containers/hemmelig/data/:/var/tmp/hemmelig/upload/files
      - /mnt/storage/containers/hemmelig/database/:/home/node/hemmelig/database/
    environment:
      - SECRET_LOCAL_HOSTNAME=0.0.0.0
      - SECRET_PORT=3000
      - SECRET_HOST=hemmelig.{{ docker_l_hostname }}
      - SECRET_ROOT_USER=groot
      - SECRET_ROOT_PASSWORD=iamroot # admin user password (CHANGE AFTER LOGIN)
      - SECRET_ROOT_EMAIL=hemmelig@{{ docker_hostname }}
      - SECRET_FILE_SIZE=4 # upload file size in mb
      - SECRET_FORCED_LANGUAGE=en # default language
      - SECRET_JWT_SECRET={{ hemmelig_secret_jwt_secret }}
      - SECRET_MAX_TEXT_SIZE=256 # max text size in kb
    ports:
      - "3000:3000"
    restart: always
    stop_grace_period: 1m
    healthcheck:
      test: "wget -O /dev/null localhost:3000 || exit 1"
      timeout: 5s
      retries: 1
    networks:
      - net-hemmelig
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hemmelig.rule=Host(`hemmelig.{{ docker_l_hostname }}`)"
      - "traefik.http.routers.hemmelig.entrypoints=websecure"
      - "traefik.http.routers.hemmelig.tls.certresolver=myresolver"

networks:
  net-hemmelig:
    name: hemmelig
