version: '3.8'
services:
  tvheadend:
    image: lscr.io/linuxserver/tvheadend
    container_name: tvheadend
    environment:
      - TZ=Europe/Berlin
      - PUID=99
      - PGID=100
    volumes:
      - /mnt/user/media/recordings/:/recordings
      - /mnt/user/storage/containers/tvheadend/recordings/:/recordings
      - /mnt/user/appdata/tvheadend:/config
      - /mnt/user/storage/containers/tvheadend/config:/config
    ports:
      - 9981:9981
      - 9982:9982
    # TODO: uncomment on real server
    # devices:
    #   - /dev/dri
    #   - /dev/dvb
    restart: unless-stopped
    networks:
      - net-tvheadend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tvheadend.rule=Host(`tvheadend.{{ docker_l_hostname }}`)"
      - "traefik.http.routers.tvheadend.entrypoints=websecure"
      - "traefik.http.routers.tvheadend.tls.certresolver=myresolver"

networks:
  net-tvheadend:
    name: tvheadend
