version: "3.8"

services:
  gitea:
    image: gitea/gitea:1.21.4
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=mysql
      - GITEA__database__HOST=gitea-db:3306
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - GITEA__database__PASSWD={{ gitea_mariadb_password }}
    restart: always
    volumes:
      - /mnt/user/storage/containers/gitea/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 9080:3000
      - 9022:22
    depends_on:
      - gitea-db
    networks:
      - net-gitea
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitea.rule=Host(`gitea.{{ docker_l_hostname }}`)"
      - "traefik.http.routers.gitea.entrypoints=websecure"
      - "traefik.http.routers.gitea.tls.certresolver=myresolver"
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"

  gitea-db:
    image: mariadb:10
    container_name: gitea-db
    restart: always
    environment:
      - MARIADB_DATABASE=gitea
      - MARIADB_USER=gitea
      - MARIADB_PASSWORD={{ gitea_mariadb_password }}
      - MARIADB_RANDOM_ROOT_PASSWORD=true
    volumes:
      - /mnt/user/storage/containers/gitea-db/mysql:/var/lib/mysql
    networks:
      - net-gitea

networks:
  net-gitea:
    name: gitea