services:
  stirling-pdf:
    # Pinning to a specific major version is not possible
    # @see https://hub.docker.com/r/frooodle/s-pdf/tags
    image: frooodle/s-pdf:latest
    container_name: stirling-pdf
    ports:
      - '8105:8080'
    volumes:
      - /mnt/storage/containers/stirling-pdf/tessdata:/usr/share/tessdata
      # - /location/of/trainingData:/usr/share/tessdata #Required for extra OCR languages
      - //mnt/storage/containers/stirling-pdf/configs:/configs
      # - /location/of/extraConfigs:/configs
#      - /location/of/customFiles:/customFiles/
#      - /location/of/logs:/logs/
    environment:
      - DOCKER_ENABLE_SECURITY=false
    restart: unless-stopped
    networks:
      - net-stirling-pdf
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.stirling-pdf.rule=Host(`pdf.{{ docker_l_hostname }}`)"
      - "traefik.http.routers.stirling-pdf.entrypoints=websecure"
      - "traefik.http.routers.stirling-pdf.tls.certresolver=myresolver"

networks:
  net-stirling-pdf:
    name: stirling-pdf